<div class="container" ng-controller="userCtrl as au">
  <br />
  <form name="adduser">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" ng-model="au.name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email" ng-model="au.email" ng-class="au.passedOrFail == null? 'default' : (au.passedOrFail)? 'passed' : 'failed'" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" ng-model="au.password" required>
    </div>
    <div class="form-group">
      <label for="usertype">UserType:</label>
      <select  class="form-control" id="usertype" name="usertype" ng-model="au.selectedUserType" ng-options="usertype as usertype.userType for usertype in au.userTypes track by usertype.userType" required>
      </select>
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <select  class="form-control" id="department" name="department" ng-model="au.selectedDepartment" ng-options="department as department.department_name for department in au.departments track by department.department_name " required>
      </select>
    </div>
    <button type="submit" class="btn btn-info btn-sm btn-box-shadow width-115" ng-click="au.addUser()" ng-disabled="au.disableSave">
      <i class="fa fa-plus"></i>&nbsp;ADD
    </button>
  </form>
</div>