  <!-- addQtyInventory -->
<div class="modal fade" id="addQtyModal" ng-controller="inventoryModalCtrl as im">
  <div class="modal-dialog">
    <div class="modal-content" ng-repeat="selecteditem in im.selectedItem">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-plus"></i></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="whitesmoke">Item</h4>
            {{ selecteditem.item_name }}
            <h5 class="whitesmoke">description</h5>
            {{ selecteditem.description }}
          </div>
          <div class="col-md-6">
            <label class="whitesmoke">Current Qty:</label>&nbsp;&nbsp;
              <span style="font-size: 20px;">
                {{ selecteditem.qty }}
              </span>
            <br />
            <br />
            <h4 class="whitesmoke">Add Quantity</h4>
            <input type="text" class="form-control form-control-sm" ng-change="im.addQty(selecteditem)" ng-model="im.addedQty" number>
          </div>
        </div>
        <hr>
        <h3 style="color:green;">Total qty:&nbsp;&nbsp;<label class="font-27px red">{{im.totalQty}}</label></h3>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success col-md-12" ng-click="im.addStockQuantity()">
            Save
        </button>
      </div>
      
    </div>
  </div>
</div>