 <div class="tab-content">
  <div class="container tab-pane active"><br> 
    <div class="row">
      <div class="col-md-8">
        <label for="usr">Date:</label>
        <datepicker datepicker-mobile="true" date-format="yyyy-MM-dd" selector="form-control" >
          <div class="input-group">
            <input class="form-control" style="border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;" />
          </div>
        </datepicker>
      </div>
      <div class="col-md-4">
        <div class="form-group ">
          <label for="usr">Venue:</label>
          <input type="text" class="form-control" id="usr" name="">
        </div>
      </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>