<div class="container" ng-controller="departmentCtrl as dept">
<br />
<div class="row" ng-if="!dept.editing">
  <div class="col-md-8">
    <button class="btn btn-info btn-sm " type="button" data-toggle="modal" data-target="#departmentModal" data-backdrop="static" data-keyboard="false">
      <i class="fa fa-plus"></i>&nbsp;Add Department
    </button>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control" ng-model="dept.search" placeholder="search">
  </div>
</div>
<br />
<div class="row" ng-if="dept.editing" style="margin-bottom: 1em;">
  <div class="col-md-10">
       <form name="departmentForm">
        <div class="form-group">
          <label for="department">Department Name:</label>
          <i class="fa fa-spinner fa-spin font-17px" ng-if="dept.updating"></i>
          <input type="text" class="form-control uppercase" id="department" name="department" ng-model="dept.department.department_name" required>
          <span ng-show="departmentForm.department.$touched  && departmentForm.department.$error.required" style="color: red; font-size: 14px;">Department is Required*</span>
        </div>
      </form>   
  </div>
  <div class="col-md-2">
    <div class="row" style="margin-top: 2.4em;">
      <button type="submit" class="btn btn-outline-success btn-sm" ng-click="dept.update(dept.department.department_name)">
        <i class="fa fa-save"></i>
          &nbsp;Save
      </button>
       &nbsp;
      <button type="button" class="btn btn-outline-info btn-sm" ng-click="dept.cancelEdit()">
        <i class="fa fa-times-circle"></i>&nbsp;Close
      </button>
    </div>
  </div>
</div>
<div class="tab-content" >
  <div id="users" class="container tab-pane active">
    <br />
    <div class="row" style="overflow-x: auto;">
      <div class="col-md-3" ng-repeat="department in dept.departments | filter: dept.search" >
        <div class="ph-item ph-item-dept margin-bottom-07" ng-if="dept.isLoading">
            <div class="ph-col-12 padding-0">
                <div class="ph-row">
                  <div class="ph-col-12 "></div>
                  <div class="ph-col-12 medium"></div>
                </div>
            </div>
        </div>
        <div class="card margin-bottom-07 departmentBox" ng-if="!dept.isLoading">
          <div class="card-body center">
            <h4 class="card-title">{{ department.department_name | uppercase }}</h4>
            <button class="btn btn-outline-success btn-sm card-link border-radius-2" type="button" ng-click="dept.edit(department)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm card-link border-radius-2" type="button" ng-click="dept.deleteDepartment(department)" ng-disabled="dept.disableDelete">
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>