<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="background-color: #c6dcf3 !important; height: 70px;" ></nav>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="background: linear-gradient(90deg,#2a90bb,#175c9c 40%,#30a1c5);" >
  <a class="navbar-brand" style="font-family: ver; color: white;">PPMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" ng-if="header">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="col-md-10 collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" ng-if="header">
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(1)}" ng-click="selectedTown(1)" href="#!/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(2)}" ng-click="selectedTown(2)" href="#!/manage_users">Manage User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(3)}" ng-click="selectedTown(3)" href="#!/reservation">Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(4)}" ng-click="selectedTown(4)" href="#!/maintenance">Maintenance</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" ng-if="header">
      <li class="nav-item">
        <a class="nav-link" >{{ userLogName }}</a>
      </li>   
    </ul>
  </div>  
</nav>