<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="background-color: #c6dcf3 !important; height: 70px;" ></nav>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="background: linear-gradient(90deg,#2a90bb,#175c9c 40%,#30a1c5);" >
  <a class="navbar-brand" style="font-family: ver; color: white;">PPMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" ng-if="header">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="col-md-9 collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" ng-if="header">
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(1)}" ng-click="selectedTown(1)" href="#!/dashboard">
          <i class="fa fa-home"></i>&nbsp;Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(2)}" ng-click="selectedTown(2)" href="#!/manage_users">
          <i class="fa fa-user"></i>&nbsp;Manage User
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(3)}" ng-click="selectedTown(3)" href="#!/reservation">
          <i class="fa fa-book"></i>&nbsp;Reservation
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(4)}" ng-click="selectedTown(4)" href="#!/maintenance">
          <i class="fa fa-cogs"></i>&nbsp;Maintenance
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{actives: isSelected(5)}" ng-click="selectedTown(5)" href="#!/department">
          <i class="fa fa-building"></i>&nbsp;Department
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" ng-click="logout()">Logout</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse col-md-3" id="collapsibleNavbar">
    <div class="dropdown" ng-if="header">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: white;">
        <i class="fa fa-user-circle"></i>&nbsp;{{ userLogName }}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ng-click="logout()">Logout</a>
      </div>
    </div>
  </div>
  </div>  
</nav>