<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="background-color: #c6dcf3 !important; height: 60px;" ></nav>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="background: linear-gradient(90deg,#2a90bb,#175c9c 40%,#30a1c5);" >
  <a class="navbar-brand padding-right-10 padding-left-10"  href="#!/dashboard" style="font-family: Times New Roman; color: white;">
    <i class="fa fa-home"></i>
    &nbsp;PPMS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" ng-if="header">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="col-md-9 collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" ng-if="header">
      <li class="nav-item">
        <a class="nav-link actives">
          <span class="col-md-1 red notification">7</span>
          <i class="fa fa-bell font-20px" ></i>
        </a>
      </li>
      <li class="nav-item" id="signOut">
          <a href="#!/profile" class="nav-link pointer">
            <i class="fa fa-user"></i>&nbsp;Edit Profile
          </a>
          <a class="nav-link" ng-click="logout()">
            <i class="fa fa-sign-out"></i>&nbsp;Sign Out
          </a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse col-md-3 arrow" id="collapsibleNavbar">
    <div class="dropdown" ng-if="header">
      <a class="nav-link dropdown-toggle white" data-toggle="dropdown">
        <i class="fa fa-user-circle"></i>&nbsp;{{ userLogName }}
      </a>
      <div class="dropdown-menu" >
        <a href="#!/profile" class="dropdown-item arrow" style="color:#2aabc7;">
          <i class="fa fa-user"></i>&nbsp;Edit Profile
        </a>
        <a class="dropdown-item arrow" ng-click="logout()" style="color:#2aabc7;">
          <i class="fa fa-sign-out"></i>&nbsp;Sign Out
        </a>
      </div>
    </div>
  </div>
</nav>