<div class="container" ng-controller="inventoryCtrl as is">
  <br>
  <span class="font-27px"><i class="fa fa-pencil"></i>&nbsp;Inventory</span>
  <div class="row">
    <div class="col-md-4">
    <br />
    <form name="addstocks">
      <div class="form-group">
        <label for="item_name">Item Name.</label>
        <input type="text" class="form-control form-control" id="item_name" name="item_name" ng-model="is.items.item_name" ng-class="{failed:addstocks.item_name.$dirty && addstocks.item_name.$invalid}" required >
      </div>
      <div class="form-group">
        <label for="description">Description.</label>
        <input type="text" class="form-control form-control" id="description" name="description" ng-model="is.items.description" ng-class="{failed:addstocks.description.$dirty && addstocks.description.$invalid}" required>
      </div>
      <div class="form-group">
        <label for="qty">qty.</label>
        <input type="text" class="form-control form-control" id="qty" name="qty" ng-model="is.items.qty" ng-disabled="is.quantity" ng-class="{failed:addstocks.qty.$dirty && addstocks.qty.$invalid}" number required>
      </div>
      <button type="submit" class="btn btn-info btn-sm btn-box-shadow width-115" ng-click="is.addItems(is.items)" ng-hide="is.addBtn" >
        <i class="fa fa-plus"></i>&nbsp;ADD
      </button>
      <button type="submit" class="btn btn-success btn-sm btn-box-shadow width-115" ng-click="is.updateStocks(is.items)" ng-if="is.updateBtn">
        <i class="fa fa-plus"></i>&nbsp;Update
      </button>
      <button type="submit" class="btn btn-info btn-sm btn-box-shadow width-115" ng-click="is.cancelButton()" ng-if="is.cancelBtn">
        <i class="fa fa-plus"></i>&nbsp;Cancel
      </button>
    </form>
    </div>
    <div class="col-md-8 ">
      <div class="ph-item padding-0 custom-placeholder" ng-if="is.isLoading">
        <div class="ph-col-5">
            <div class="ph-row">
              <div class="ph-col-8 empty"></div>
              <div class="ph-col-4 big"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-8 empty"></div>
              <div class="ph-col-12 big"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-12 big"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-12 big"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-12 big"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-12 big"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-12 big"></div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5">
          <input type="text" class="form-control form-control-md" ng-model="item_search" placeholder="Search Item Name">
        </div>
      </div>
      <br />
        <div class="row inventory-table"> 
          <table class="table table-sm table-striped table-bordered" >
            <thead>
              <tr>
                <th>Item Name.</th>
                <th>Description.</th>
                <th>qty.</th>
                <th>Date Updated.</th>
                <th class="center min-width-155">Action</th>
              </tr>
            </thead>
            <tbody ng-if="!is.isLoading">
              <tr ng-repeat="item in is.itemDetails | filter:{item_name:item_search}">
                <td>{{ item.item_name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.date_updated }}</td>
                <td class="center min-width-155">
                  <button class="btn btn-success btn-sm" type="button" ng-click="is.deductQty(item)" data-toggle="modal" data-target="#deductQtyModal"  data-backdrop="static" data-keyboard="false">
                    <i class="fa fa-minus"></i>
                  </button>
                  &nbsp;
                  <button class="btn btn-danger btn-sm" type="button" ng-click="is.addQty(item)" data-toggle="modal" data-target="#addQtyModal"  data-backdrop="static" data-keyboard="false">
                    <i class="fa fa-plus"></i>
                  </button>
                  &nbsp;
                  <button class="btn btn-info btn-sm" type="button" ng-click="is.updateItem(item)" >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <br />
</div>
