<div class="col-md-4"></div>
<div class="col-md-4" ng-if="loginPage">
<br />
    <div class="container" ng-controller="loginCtrl as lg">
      <br />
      <h1 class="center" style="font-size:47px;">
        <i class="fa fa-user-circle"></i>
      </h1>
      <div class="row center login-text-header">
        <div class="col-md-12">Sign in to PPMS</div>
      </div>
      <div class="alert alert-danger center margin-top-15" ng-if="!lg.valid">
        <strong>Incorrect Email or Password!</strong>
      </div>
      <div class="row margin-top-10">
        <div class="col-md-12">
       <form>
        <div class="form-group">
          <label for="emailType" style="color: #17a2b8;"><i class="fa fa-envelope" ></i>&nbsp;Email:</label>
          <input type="text" class="form-control" ng-model="lg.email" required>
          <label class="margin-top-15" for="passwordType" style="margin-top: 5px; color: #17a2b8;">
            <i class="fa fa-lock font-21px"></i>&nbsp;Password:
          </label>
          <input type="password" class="form-control" ng-model="lg.password" required>
        </div>
        <button class="btn btn-info col-md-12 verdana" ng-click="lg.login()" ng-disabled="loginBtn">
          {{ lg.buttonMessage }}
        </button> 
      </form>
      </div>
      </div>
    </div>
</div>
<div class="col-md-4"></div>



