<div class="container-fluid" >
  <ul class="nav nav-tabs" role="tablist" style="margin-top: 5px;">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" ng-class="{activated:isActivated('/maintenance')}" href="#!/maintenance">
        <i class="fa fa-envelope"></i>&nbsp;Add Work Request</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" ng-class="{activated:isActivated('/maintenance/work')}" href="#!/maintenance/work"><i class="fa fa-folder-open"></i>&nbsp;List of Request</a>
    </li>
  </ul>
  <div ui-view="maintenance-view"></div>
  <br />
</div>
