<ng-include src="'views/venueModal.html'"></ng-include> 
<ng-include src="'views/updateUserModal.html'"></ng-include> 
<ng-include src="'views/departmentModal.html'"></ng-include> 
<ng-include src="'views/viewVenueModal.html'"></ng-include> 
<ng-include src="'views/requestFacilitiesModal.html'"></ng-include> 
<ng-include src="'views/deductStockQtyModal.html'"></ng-include> 
<ng-include src="'views/addStockQtyModal.html'"></ng-include> 
<ng-include src="'views/addWorkItemsModal.html'"></ng-include> 
<ng-include src="'views/updateWorkItemsModal.html'"></ng-include>