  <!-- Venue Modal -->
  <div class="modal fade" id="myModal" ng-controller="venueCtrl as vc">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header whitesmoke " >
          <h4 class="modal-title">Add Venue</h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
          <div class="alert alert-success alert-dismissible" ng-if="vc.response">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ vc.message }}!</strong>
          </div>
           <form>
            <div class="form-group">
              <label for="venue">Venue:</label>
              <input type="text" class="form-control" id="venue" ng-model="vc.venue">
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer padding-7px">
            <button type="submit" class="btn btn-success" ng-click="vc.addVenue()">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vc.close()">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="requestModal" ng-controller="venueCtrl as vc" >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content" >
      
        <!-- Modal Header -->
        <div class="modal-header" style="background-color: whitesmoke;">
          <h4 class="modal-title">Request</h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="alert alert-success alert-dismissible" ng-if="vc.response">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ vc.message }}!</strong>
          </div>
           <form name="reservation">
            <div class="form-group">
              <label for="requester">Requester Name:</label>
              <input type="text" class="form-control" id="requester" name="requester" ng-model="vc.requester" required>
              <span ng-show="reservation.requester.$touched  && reservation.requester.$error.required" style="color: red; font-size: 14px;">Password is Required*</span>
            </div>
            <div class="form-group">
              <label for="modalDepartment">Department:</label>
              <select  class="form-control" id="modalDepartment" name="modalDepartment" ng-model="vc.selectedDepartment" ng-options="department as department.department_name for department in vc.departments track by department.department_name " required>
              </select>
              <span ng-show="reservation.modalDepartment.$touched  && reservation.modalDepartment.$error.required" style="color: red; font-size: 14px;">Department is Required*</span>
            </div>
            <div class="form-group">
              <label for="venues">Venue:</label>
              <select  class="form-control" id="venues" name="venues" ng-model="vc.selectedVenue" ng-options="venue as venue.venue_name for venue in vc.venues track by venue.venue_name " required>
              </select>
              <span ng-show="reservation.venues.$touched  && reservation.venues.$error.required" style="color: red; font-size: 14px;">Venue is Required*</span>
            </div>
            <div class="form-group">
              <label for="start_date">Start Date:</label>
                <div class="row">
                <div class="col-md-12">
                  <datepicker datepicker-mobile="true" date-format="yyyy-MM-dd" selector="form-control" >
                      <input type="text" class="form-control" id="start_date" name="start_date" ng-model="vc.start_date" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;" required>
                      <span ng-show="reservation.start_date.$touched  && reservation.start_date.$error.required" style="color: red; font-size: 14px;">Reservation Date is Required*</span>
                  </datepicker>
                </div>
                  <div class="col-md-2 col-sm-2">
                    <label for="starthour">Hour:</label>
                      <select class="form-control height-30px" id="starthour" name="starthour" ng-model="vc.starthour" required>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <span ng-show="reservation.starthour.$touched  && reservation.starthour.$error.required" style="color: red; font-size: 14px;">Hour is required*</span>
                  </div>
                  <div class="col-md-2 col-sm-2">
                    <label for="startminutes">Minutes:</label>
                      <select class="form-control height-30px" id="startminutes" name="startminutes" ng-model="vc.startminutes" required>
                        <option ng-repeat="m in vc.minutes">{{m}}</option>
                      </select>
                      <span ng-show="reservation.startminutes.$touched  && reservation.startminutes.$error.required" style="color: red; font-size: 14px;">Minutes Date is required*</span>
                  </div>
                  <div class="col-md-2 col-sm-2">
                    <label for="starttimezone">AM/PM:</label>
                      <select class="form-control height-30px" id="starttimezone" name="starttimezone" ng-model="vc.starttimezone" required>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                      </select>
                      <span ng-show="reservation.starttimezone.$touched  && reservation.starttimezone.$error.required" style="color: red; font-size: 14px;">required*</span>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label for="end_date">End Date:</label>
                <div class="row">
                <div class="col-md-12">
                  <datepicker datepicker-mobile="true" date-format="yyyy-MM-dd" selector="form-control" >
                      <input type="text" class="form-control" id="end_date" name="end_date" ng-model="vc.end_date" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;" required>
                      <span ng-show="reservation.end_date.$touched  && reservation.end_date.$error.required" style="color: red; font-size: 14px;">Reservation Date is Required*</span>
                  </datepicker>
                </div>
                  <div class="col-md-2 col-sm-2">
                    <label for="endhour">Hour:</label>
                      <select class="form-control height-30px" id="endhour" name="endhour" ng-model="vc.endhour" required>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <span ng-show="reservation.endhour.$touched  && reservation.endhour.$error.required" style="color: red; font-size: 14px;">Hour is required*</span>
                  </div>
                  <div class="col-md-2 col-sm-2">
                    <label for="endminutes">Minutes:</label>
                      <select class="form-control height-30px" id="endminutes" name="endminutes" ng-model="vc.endminutes" required>
                        <option ng-repeat="m in vc.minutes">{{m}}</option>
                      </select>
                      <span ng-show="reservation.endminutes.$touched  && reservation.endminutes.$error.required" style="color: red; font-size: 14px;">Minutes Date is required*</span>
                  </div>
                  <div class="col-md-2 col-sm-2">
                    <label for="endtimezone">AM/PM:</label>
                      <select class="form-control height-30px" id="endtimezone" name="endtimezone" ng-model="vc.endtimezone" required>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                      </select>
                      <span ng-show="reservation.endtimezone.$touched  && reservation.endtimezone.$error.required" style="color: red; font-size: 14px;">required*</span>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label for="purpose">Purpose:</label>
              <textarea type="text" class="form-control" id="purpose" name="purpose" ng-model="vc.purpose" required></textarea>
              <span ng-show="reservation.purpose.$touched  && reservation.purpose.$error.required" style="color: red; font-size: 14px;">Purpose is Required*</span>
            </div>
            <button type="submit" class="btn btn-success" ng-click="vc.addReservation()">Submit</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- department Modal -->
  <div class="modal fade" id="departmentModal" ng-controller="departmentCtrl as dept">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header whitesmoke " >
          <h4 class="modal-title">Add Department</h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
          <div class="alert alert-success alert-dismissible" ng-if="dept.response">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ dept.message }}!</strong>
          </div>
           <form>
            <div class="form-group">
              <label for="department">Department:</label>
              <input type="text" class="form-control" id="department" ng-model="dept.department">
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer padding-7px">
            <button type="submit" class="btn btn-success" ng-click="dept.addDepartment(dept.department)">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        </div>
        
      </div>
    </div>
  </div>

<!-- Request Venue view details modal -->
    <!-- department Modal -->
  <div class="modal fade" id="viewDetailsModal" ng-controller="venueCtrl as vc">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header whitesmoke " >
          <h4 class="modal-title"></h4>
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" >
            {{ vc.viewReservation }}
            <h4>Name:&nbsp;{{ vc.viewReservation.client_name }}</h4>
            <label>Department</label>&nbsp;{{ vc.viewReservation.department_name }} <br />  
            <label>Venue:</label>&nbsp;{{ vc.viewReservation.venue_name }} <br />
            <label>Start Date</label>&nbsp;{{ vc.viewReservation.start_date }}&nbsp;{{ vc.viewReservation.start_time }} <br />  
            <label>End Date</label>&nbsp;{{ vc.viewReservation.end_date }}&nbsp;{{ vc.viewReservation.end_time }} <br /> <br />
            <div class="card">
            <div class="card-body" style="min-height: 150px;">
              <p class="card-text" style="font-size: 20px;">{{ vc.viewReservation.purpose }}</p>
            </div>
          </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer padding-7px">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        </div>
        
      </div>
    </div>
  </div>
