<div class="tab-content" ng-controller="workCtrl as wc" >
<div class="ph-item" ng-if="!wc.loaded">
    <div class="ph-col-12 padding-0">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-6 empty big"></div>
          <div class="ph-col-12 "></div>
          <div class="ph-col-12 table-holder"></div>
          <div class="ph-col-12 table-holder"></div>
        </div>
    </div>
</div>
  <div id="users" class="container-fluid tab-pane active padding-0" ng-if="wc.loaded">
    <div class="row">
      <div class="col-md-12">
        <br />
        <div class="row border-bottom-bluesmoke box-shadow padding-bottom-3">
          <div class="col-md-5">
            <input type="text" ng-model="wc.search" placeholder="search" class="form-control">
          </div>
        </div>
        <div class="row auto-scroll-x min-height-190 max-height-190">
          <div class="col-md-12">
            <table class="table table-sm table-striped table-bordered margin-top-7 min-width-1100">
              <thead>
                  <th class="width-20"></th>
                  <th>Request No.</th>
                  <th>Requestee</th>
                  <th>Work to be Done</th>
                  <th>Department</th>
                  <th>Remarks</th>
                  <th class="center">Status</th>
                  <th class="center">Date</th>
              </thead>
              <tbody ng-if="!wc.isLoading">
                <tr ng-repeat="work in wc.list_of_work | filter:wc.search" >
                  <td class="width-20">
                    <button class="btn btn-success btn-sm" type="button" ng-click="wc.editWork(work)">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </td>
                  <td>{{ work.request_number }}</td>
                  <td>{{ work.requestee }}</td>
                  <td>{{ work.purpose }}</td>
                  <td>{{ work.department_name }}</td>
                  <td>{{ work.post_remarks }}</td>
                  <td class="center">
                    <label id="status" scholar-status status="{{ work.work_status }}"></label>
                  </td>
                  <td class="center">{{ work.date_requested | fullDate }}</td>
                </tr>
              </tbody>
            </table>
          <strong ng-if="wc.isLoading">Loading...</strong>
          </div>
        </div>
        <div class="row row border2-top-bluesmoke">
          <div class="col-md-12">
            <div id="users" class="container-fluid tab-pane active padding-0" >
              <div class="row">
               <div class="col-md-6 border-right-teal2">
                  <br />
                  <div class="row" ng-if="!wc.editing">
                    <div class="col-md-12 auto-scroll min-height-280 max-height-280">
                         <form name="reservation">
                         <div class="form-group">
                            <label for="requester">Request No.</label>
                            <input type="text" class="form-control" ng-model="wc.request_num" disabled>
                          </div>
                          <div class="form-group">
                            <label for="requester">Requestee:</label>
                            <input type="text" class="form-control" id="requestee" name="requestee" ng-model="wc.requestee" ng-disabled="admin" required>
                            <span ng-show="reservation.requester.$touched  && reservation.requester.$error.required" class="required-error">Name is Required*</span>
                          </div>
                          <div class="form-group">
                            <label for="modalDepartment">Department:</label>
                            <input type="text" class="form-control" ng-model="wc.selectedDepartment" disabled>
                          </div>
                          <div class="form-group">
                            <label for="purpose">Work to be Done:</label>
                            <textarea type="text" class="form-control" id="purpose" name="purpose" ng-model="wc.purpose" ng-disabled="admin" required>
                            </textarea>
                          </div>
                          <br />
                          <div class="form-group">
                            <div class="row font-17px">
                              <div class="col-md-3" ng-if="wc.stats">
                                <label for="status">Status:</label>
                                <select class="form-control" ng-model="wc.selectedStatus" ng-options="c for c in wc.statuses" ng-disabled="!wc.updatingWork" >
                                </select>
                              </div>
                            </div>
                            <br />
                          </div>
                          <div class="form-group" ng-if="admin">
                            <label for="remarks">Remarks:</label>
                            <textarea type="text" class="form-control" id="remarks" name="remarks" ng-model="wc.remarks" required>
                            </textarea>
                          </div>
                          <br />
                          <button type="submit" class="btn btn-success btn-box-shadow" ng-click="wc.updateRequestedItem()" ng-if="wc.showUpdate">
                            <i class="fa fa-save"></i>&nbsp;Update
                          </button>
                          <button type="submit" class="btn btn-success btn-box-shadow" ng-click="wc.updateWorkDetails()" ng-if="!wc.showUpdate" ng-disabled="!wc.updatingWork">
                            <i class="fa fa-save"></i>&nbsp;Save
                          </button>
                          <button type="button" class="btn btn-info btn-box-shadow" ng-click="wc.cancelUpdate()" ng-disabled="!wc.updatingWork">
                            <i class="fa fa-times-circle"></i>&nbsp;Cancel
                          </button>
                        </form>   
                    </div>
                  </div>
                  <br />
               </div>
               <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-10 border-bottom-bluesmoke padding-left-3">
                      <input type="text" class="col-md-5 form-control margin-top-5 margin-bottom-5" placeholder="Search" ng-model="wc.filterItem">
                    </div>
                    <div class="col-md-2 center margin-top-10 border-bottom-bluesmoke" ng-if="admin">
                      <input type="button" class="btn btn-success btn-sm" value="Add Item" data-toggle="modal" data-target="#addWorkItemModal" data-backdrop="static" ng-if="wc.updatingWork" ng-click="wc.addItem()">
                    </div>
                    <div class="col-md-12 padding-0 auto-scroll min-height-255 max-height-255">
                        <table class="table table-sm table-striped table-bordered margin-top-3 min-width-500" >
                          <thead>
                              <th ng-if="admin">*</th>
                              <th>Item Name.</th>
                              <th>Description.</th>
                              <th>Requested qty.</th>
                          </thead>
                          <tbody ng-if="!wc.isLoading">
                            <tr ng-repeat="item in wc.workItems | filter: wc.filterItem ">
                              <td class="width-73" ng-if="admin">
                                <button class="btn btn-danger btn-sm" ng-click="wc.removeItem(item)">
                                  <i class="fa fa-times-circle"></i>
                                </button>
                                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateWorkItemModal" data-backdrop="static" ng-click="wc.updateItem(item)" >
                                  <i class="fa fa-pencil"></i>
                                </button>
                              </td>
                              <td>{{ item.item_name }}</td>
                              <td>{{ item.description }}</td>
                              <td>{{ item.requested_quantity }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
               </div>   
              </div>
          </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>
