 <div class="tab-content" ng-controller="venueCtrl as vc">
  <div id="users" class="container tab-pane active" ng-if="!vc.isLoading">
    <br>
    <div class="row">
      <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#requestModal">Add Request</button>        
    </div>
    <br />
    <div class="row" style="overflow-x: auto;">
      <table class="table table-striped" style="min-width: 915px; ">
        <thead>
          <tr>
            <th>Requester Name</th>
            <th>Department</th>
            <th>Venue</th>
            <th>Reservation Date</th>
            <th>Purpose</th>
            <th>Date Requested</th>
            <th class="center min-width-155">Details</th>
            <th class="center min-width-155">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reserved in vc.reservations">
            <td>{{reserved.client_name}}</td>
            <td>{{reserved.department_name}}</td>
            <td>{{reserved.venue_name}}</td>
            <td>{{reserved.reservation_date}}</td>
            <td>{{reserved.purpose}}</td>
            <td>{{reserved.date_created}}</td>
            <td class="center min-width-155">
              <button class="btn btn-basic btn-sm" type="button"  >View Details</button>
            </td>
            <td class="center min-width-155">
              <button class="btn btn-success btn-sm" type="button" >Approve</button>
              <button class="btn btn-danger btn-sm" type="button" ng-click="vc.deleteVenue(venue)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <strong ng-if="vc.isLoading">Loading...</strong>
</div>