<div class="tab-content" ng-controller="userCtrl as au">
  <div id="users" class="container tab-pane active">
    <br />
    <div class="row" style="overflow-x: auto;">
      <table class="table table-striped" style="min-width: 915px;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>User Type</th>
            <th>Department</th>
            <th>Date Created</th>
            <th class="center min-width-155">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in au.users">
            <td><i class="fa fa-user-circle"></i>&nbsp;&nbsp;{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.userType }}</td>
            <td>{{ user.department_name }}</td>
            <td>{{ user.created_at }}</td>
            <td class="center min-width-155">
              <button class="btn btn-outline-success btn-sm" type="button" >
                <i class="fa fa-edit"></i>Edit
              </button>
              <button class="btn btn-outline-danger btn-sm" type="button" ng-click="au.deleteUser(user)">
                <i class="fa fa-times-circle"></i>&nbsp;Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <strong ng-if="au.isLoading">Loading...</strong>
    </div>
  </div>
</div>