<div class="container" >
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" ng-class="{activated:isActivated('/manage_users')}" href="#!/manage_users">Add User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" ng-class="{activated:isActivated('/manage_users/users_list')}" href="#!/manage_users/users_list">Users</a>
    </li>
  </ul>
  <div ui-view="users-view"></div>
  <br />
</div>
