 <div class="tab-content" ng-controller="venueCtrl as vc">
  <div id="users" class="container tab-pane active">
    <br /> 
    <div class="row" ng-if="vc.editing" style="margin-bottom: 1em;">
      <div class="col-md-8">
           <form name="venueData">
            <div class="form-group">
              <label for="venue">Venue Name:</label>
              <input type="text" class="form-control form-control" id="venue" name="venue" ng-model="vc.venue" required>
              <span ng-show="venueData.venue.$touched  && venueData.venue.$error.required" style="color: red; font-size: 14px;">Venue is Required*</span>
            </div>
          </form>   
      </div>
      <div class="col-md-4">
          <div class="row" style="margin-top: 2.4em;">
            <button type="submit" class="btn btn-outline-success btn-sm" ng-click="vc.updateVenue(vc.venue)">
              <i class="fa fa-save"></i>&nbsp;Save
            </button>
            &nbsp;
            <button type="button" class="btn btn-outline-info btn-sm" ng-click="vc.cancelEdit()">
              <i class="fa fa-times-circle"></i>&nbsp;Cancel
            </button>
          </div>
      </div>
    </div>
    <br />
    <div class="row" ng-if="false">
        <div class="col-md-6">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" >
        </div>
        <div class="col-md-2 padding-0">
          <button class="btn btn-success btn-md" style="font-size: 13px;">Update</button>
        </div>
    </div>
    <div class="row" >
      <div class="col-md-9">
        <button class="btn btn-info btn-sm " type="button" data-toggle="modal" data-target="#myModal">Add Venue</button>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" ng-model="vc.search" placeholder="search">
      </div>
    </div>
    <br />
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Venue</th>
            <th>Date Created</th>
            <th class="center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="venue in vc.venues | filter: vc.search">
            <td>{{ venue.venue_name }}</td>
            <td>{{ venue.created_at }}</td>
            <td class="center min-width-155">
              <button class="btn btn-outline-success btn-sm" type="button" class="btn btn-primary" ng-click="vc.editVenue(venue)" >
                <i class="fa fa-edit"></i>Edit
              </button>
              <button class="btn btn-outline-danger btn-sm" type="button" class="btn btn-primary" ng-click="vc.deleteVenue(venue)">
                <i class="fa fa-trash"></i>Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    <strong ng-if="vc.isLoading">Loading...</strong>
    </div>
  </div>
</div>