 <div class="tab-content">
  <div id="users" class="container tab-pane active"><br>
    <div class="row">
      <button class="btn btn-info btn-sm " type="button" data-toggle="modal" data-target="#myModal">Add Venue</button>
    </div>
    <br />
    <div class="row">        
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Venue</th>
            <th>date Created</th>
            <th class="center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td class="center">
              <button class="btn btn-success btn-sm" type="button" class="btn btn-primary" >Edit</button>
              <button class="btn btn-danger btn-sm" type="button" class="btn btn-primary" >Delete</button>
            </td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td class="center">
              <button class="btn btn-success btn-sm" type="button" class="btn btn-primary" >Edit</button>
              <button class="btn btn-danger btn-sm" type="button" class="btn btn-primary" >Delete</button>
            </td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td class="center">
              <button class="btn btn-success btn-sm" type="button" class="btn btn-primary" >Edit</button>
              <button class="btn btn-danger btn-sm" type="button" class="btn btn-primary" >Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>